.Header_design{

    display:flex;
    align-items:center;
    justify-content: center;
    height:43rem;
    width: 100vw;

    overflow: hidden;
   
    
}

.header-background_design{
    
    opacity: 1;
  position: relative; 
  left: 0;
  top: 0;
  width: 100%;  
}



.Header_components_design{

    position: absolute;
}

.Header_side_design{

   
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 10;
    /* position:absolute; */
    
    padding: 1.5rem;
    border-radius: 1px;
    border: solid  rgb(180, 143, 48);
    outline: none;
    background-color: white;    
}

.Header_side_design > h2 {
   
    font-size: 3.2rem;
    color: rgb(48, 45, 45);
    line-height: 1;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.02em;

}

@media screen and (max-width: 768px) {
    .Header_design{
        height:auto;
        overflow-x: visible;

    }


.Header_side_design{    
    padding: 1rem;
    border: solid 2px rgb(180, 143, 48);;

}
.Header_side_design > h2 {
   
    font-size: 2.8rem;
}

.header-background_design{
    
    opacity: 1;
  position: relative; 
  left: 0;
  top: 0;
  height: 70vw;
  width: 100vw;
  border: solid  1px rgb(180, 143, 48);;

}
}



 


