.Story{

    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:80px;
    flex-direction: column;

}

.Story > h1 {

    font-size: 3.5rem;
    color: rgb(180, 143, 48);
    line-height: 1;
    font-weight: 550;
    letter-spacing: 0.03em;
}



.Services_components3 {

    display:flex;
    max-width: 90rem;
    scroll-margin-top: 10rem;
    margin-top:80px;
    position: relative;
    left: 45px;
}

.Services_rightside3{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Services_rightside3 img {
    height : 500px;
    width: 380px;
  }

  @media screen and (max-width: 768px) {

    .Story{
        margin-top:70px;    
    }

    .Story > h1 {
        text-align: center;
    }

    .Services_components3 {
        display:flex;
        flex-direction: column;
        margin-top:60px;
        position: relative;
        left: 0px;
    }
    
    .Services_rightside3 img {
        height : auto;
        width: auto;
        padding: 2rem;
        margin-top: 30px;
      }
}