.Story{

    display:flex;
    align-items:center;
    justify-content: center;
    /* border: solid green; */
    margin-top:150px;
    flex-direction: column;

}

.Story > h1 {
    /* border:solid red; */
    /* margin-top:150px; */
    font-size: 3.5rem;
    color: rgb(180, 143, 48);
    line-height: 1;
    font-weight: 550;
    letter-spacing: 0.03em;

}



.Services_components3 {

  
    display:flex;
    max-width: 90rem;
    scroll-margin-top: 10rem;
    margin-top:80px;
    /* border:solid red; */
    position: relative;
    left: 45px;
}

.Services_rightside3{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Services_rightside3 img {
    height : 500px;
    width: 380px;
  }
