.App {

    background-color: white;
    display:flex;
    flex-direction: column;

    /* width: 100%; */
    
  }
  
  .App_body{
  
    align-items:flex-center;
    justify-content: center;
    
  }