.App {
    /* border: solid blue; */
    /* background-color: rgb(235, 233, 233); */
    background-color: white;
    /* background: url('./Assets/bg.png'); */
    display:flex;
    flex-direction: column;

    width: 100%;
    
    /* border: solid green; */
  }
  
  /* so the body is in a raw */
  .App_body{
  
    align-items:flex-center;
    justify-content: center;
    
    /* margin-top: 200px; */
    /* margin-left: 20px;
    margin-right: 20px;
    max-width: 1200px; */
    /* border: solid blue; */
  }