.Header_art{

    display:flex;
    align-items:center;
    justify-content: center;
    height:43rem;
    width: 100vw;

    overflow: hidden;
   
    
}

.header-background_art{
    
    opacity: 1;
  position: relative; 
  left: 0;
  top: 0;
  width: 100%;
}



.Header_components_art{

    position: absolute;
    
}

.Header_center_art{

   
    display: flex;
    justify-content: center; 
    align-items: center;

    
    padding: 1.5rem;
    border-radius: 1px;
    border: solid  rgb(180, 143, 48);;
    outline: none;
    background-color: white;    
}

.Header_center_art > h2 {
   
    font-size: 3.2rem;
    color: rgb(48, 45, 45);
    line-height: 1;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.02em;

}

@media screen and (max-width: 768px) {
    .Header_art{
        height: 70vw;
        width: 100vw;

 
    }

    .header-background_art{
    
        opacity: 1;
      height: 70vw;
      width: 100vw;
      border: solid  1px rgb(180, 143, 48);;


    }
    
    .Header_center_art{

       
        padding: 1rem;
        border: solid 2px rgb(180, 143, 48);;

   
    }

    .Header_center_art > h2 {
   
        font-size: 2.8rem;
   
    
    }

}



 


